.sidebar-categories .head {
    line-height: 50px;
    background: #384aeb;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.sidebar-categories .main-categories {
    padding: 20px 28px;
    background: #f1f6f7
}

.sidebar-categories .main-categories .pixel-radio {
    background: transparent !important
}

.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee
}

.sidebar-categories .main-nav-list a:hover {
    color: #384aeb
}

.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px
}

.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none
}

.sidebar-categories .main-nav-list.child a {
    padding-left: 32px
}

.sidebar-filter .top-filter-head {
    line-height: 50px;
    background: #384aeb;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.sidebar-filter .head {
    line-height: 60px;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    text-transform: capitalize
}

.sidebar-filter .common-filter {
    background: #f1f6f7;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px
}

.sidebar-filter .common-filter .filter-list {
    position: relative;
    padding-left: 28px
}

.sidebar-filter .common-filter:last-child {
    border-bottom: 0
}

.filter-list {
    line-height: 32px
}

.filter-list i {
    margin-right: 10px;
    cursor: pointer
}

.filter-list .number {
    color: #ccc
}

.filter-list label {
    margin-bottom: 3px;
    cursor: pointer
}

.filter-bar {
    padding: 0px 20px 10px 20px;
    background: #f1f6f7;
    margin-bottom: 30px
}

.filter-bar a,
.filter-bar i {
    color: #000
}

.filter-bar-search {
    margin-top: 10px
}

.filter-bar-search input {
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    height: 38px;
    padding-left: 15px
}

.filter-bar-search input:focus {
    outline: 0;
    box-shadow: none
}

.filter-bar-search input::placeholder {
    color: #999999
}

.filter-bar-search button {
    background: transparent;
    border: 1px solid #eee;
    background: #fff;
    border-left: 0;
    padding-right: 15px
}

.filter-bar-search button i,
.filter-bar-search button span {
    font-size: 14px;
    color: #999999
}

.sorting {
    margin-top: 10px;
    margin-right: 10px
}

.sorting .nice-select {
    border-radius: 0px;
    border: 1px solid #eee;
    padding-right: 50px;
    height: 38px;
    color: #999999
}

.sorting .nice-select:after {
    right: 18px
}

.sorting .nice-select .list {
    border-radius: 0px
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #999;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

.section-margin {
    margin: 45px 0
}

@media (min-width: 980px) {
    .section-margin {
        margin: 70px 0
    }
}

@media (min-width: 1100px) {
    .section-margin {
        margin: 120px 0
    }
    .section-margin.calc-60px {
        margin: 120px 0 70px 0
    }
}

.section-margin--small {
    margin: 35px 0
}

@media (min-width: 1000px) {
    .section-margin--small {
        margin: 48px 0;
        margin-top: 48px;
    }
}

.section-padding {
    padding: 60px 0
}

@media (min-width: 1000px) {
    .section-padding {
        padding: 130px 0
    }
}

.container-cat {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-cat {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-cat {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-cat {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-cat {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (min-width: 992px) {
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.card-product__img:hover {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.8s ease-in-out;
}

.product-images {
    min-width: 50%;
    padding-right: 50px;
}

.product__big__images .portfolio-full-image {
    border: 1px solid #ddd;
}

.product__small__images {
    min-width: 20%;
    padding-right: 10px;
}

.product__small__images {
    margin-top: -10px;
}

.modal {
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 300px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.price {
    color: #f33e3e;
    font-size: 18px;
    margin-right: 5px;
}

.s-price-box span.new-price {
    color: #ff4136;
    font-size: 23px;
    margin-right: 5px;
}

.s-price-box span.old-price {
    color: #999;
    font-size: 15px;
    text-decoration: line-through;
}

.product-info {
    padding-left: 50px;
    width: 50%;
}

.product-info h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#quickview-wrapper {
    position: relative;
    z-index: 9956748;
}

.modal-dialog.modal__container {
    max-width: 1170px;
}

.modal-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
}

.product-images {
    min-width: 50%;
    padding-right: 50px;
}

.product-info h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.rating__and__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 13px;
}

.rating li span {
    color: #ff4136;
}

.rating li+li {
    margin-left: 3px;
}

.review a {
    color: #999;
}

.s-price-box span.new-price {
    color: #ff4136;
    font-size: 23px;
    margin-right: 5px;
}

.s-price-box span.old-price {
    color: #999;
    font-size: 15px;
    text-decoration: line-through;
}

.product-info {
    padding-left: 50px;
    width: 50%;
}

.quick-desc {
    color: #999;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 83%;
}

.product-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.color__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
}

.color__list li+li {
    margin-left: 15px;
}

.color__list li a {
    background: #f10 none repeat scroll 0 0;
    border-radius: 100%;
    display: block;
    height: 30px;
    line-height: 31px;
    text-align: center;
    width: 30px;
}

.select__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.color__list li.gold a {
    background: #cc9900 none repeat scroll 0 0;
}

.color__list li.orange a {
    background: #cc6600 none repeat scroll 0 0;
}

.product-detail ul.color__list li a {
    text-indent: 999px;
}

.product-detail h2 {
    font-family: SFMono;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
}

.product-detail h3 {
    font-family: SFMono;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    text-transform: capitalize;
    color: #999;
}

.select__size h2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
}

.select__size {
    margin-bottom: 25px;
    margin-top: 25px;
}

.select__size ul.color__list li a {
    background: #f1f1f1 none repeat scroll 0 0;
    color: #999;
}

.widget.widget_socialsharing_widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
}

h3.widget-title-modal {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
}

.social-icons li a {
    border-radius: 100%;
    color: #999;
    display: block;
    line-height: 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.social-icons li+li {
    margin-left: 30px;
}

.social-icons li a i {
    font-size: 23px;
}

.social-icons li a:hover {
    color: #ff4136;
}

.addtocart-btn {
    margin-top: 66px;
    text-align: left;
}

.addtocart-btn a {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 87px;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.addtocart-btn a:hover {
    background: #ff4136 none repeat scroll 0 0;
    color: #fff;
}

.responsive-table-name,
.responsive-table-vendor {
    display: table-cell;
}

.responsive-table {
    position: relative;
    font-size: 1rem;
    overflow-y: auto;
    display: table;
}

.responsive-img {
    width: 50px;
    height: 50px;
}

.responsive-icon-search {
    position: relative;
    left: -17px;
    bottom: -17px;
    opacity: 0.3;
}

.responsive-icon-search-status {
    position: relative;
    bottom: -10px;
    opacity: 0.3;
}

@media (max-width: 960px) {
    .responsive-table {
        font-size: 0.8rem;
    }
    .responsive-img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 840px) {
    .responsive-table {
        font-size: 0.6rem;
    }
    .responsive-img {
        width: 40px;
        height: 40px;
    }
    .responsive-icon-search {
        position: relative;
        left: -15px;
        bottom: -15px;
        opacity: 0.3;
    }
}

@media (max-width: 660px) {
    .responsive-table {
        display: block;
        overflow-y: auto;
    }
    .responsive-table-name {
        display: none;
    }
}

@media (max-width: 510px) {
    .responsive-table-vendor {
        display: none;
    }
}

.flat-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.flat-btn-input-t {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: none;
    line-height: 1.5;
    border-radius: 0.35rem 0.35rem 0 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.flat-btn-input-b {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: none;
    line-height: 1.5;
    width: 42px;
    border-radius: 0 0 0.35rem 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.flat-blue {
    color: #fff;
    background: #4e73df;
}

.flat-blue:hover {
    color: #fff;
    background: #4f6bbe;
}

.flat-trash {
    color: #fff;
    background: #df4e4e;
}

.flat-trash:hover {
    color: #fff;
    background: #be4f4f;
}

.flat-edit {
    color: #fff;
    background: #dfbd4e;
}

.flat-edit:hover {
    color: #fff;
    background: #bebd4f;
}

.flat-save {
    color: #fff;
    background: #1cc88a;
}

.flat-save:hover {
    color: #fff;
    background: #16a571;
}

.flat-add {
    color: #5a5c69;
    background: transparent;
    border: 1px solid #5a5c69;
}

.flat-add:hover {
    color: rgb(255, 255, 255);
    background: #8f8f8f;
    border: 1px solid #8f8f8f
}

.flat-btn-gray {
    border: none;
    background: #4e73df;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
    transition: 0.2s;
}

.fbg-active,
.flat-btn-gray:hover {
    color: #4e73df;
    background: none;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(248, 21, 21);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: -7px;
    bottom: -7px;
    font-size: 9px;
    text-align: center;
    color: #ffffff;
}

.input-update input {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px
}

.input-update input:focus {
    outline: 0;
    box-shadow: none
}

.input-update input::placeholder {
    color: #999999;
    text-align: right;
}

.placehold-left input::placeholder {
    text-align: left;
}

.input-update button {
    background: transparent;
    border: 1px solid #eee;
    background: #fff;
    color: rgb(61, 61, 61);
    padding-right: 15px;
    height: 32px;
}

.input-update button i,
.input-update button span {
    font-size: 14px;
    color: #999999
}

.input-add-cart {
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    height: 32px;
    width: 42px;
    margin-bottom: 2px 0;
    text-align: center;
}

.input-add-cart input {
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    height: 38px;
    padding-left: 15px
}

.input-add-cart input:focus {
    outline: 0;
    box-shadow: none
}

.input-add-cart input::placeholder {
    color: #999999
}

.input-add-cart button {
    background: transparent;
    border: 1px solid #eee;
    background: #fff;
    border-left: 0;
    padding-right: 15px
}

.input-add-cart button i,
.input-add-cart button span {
    font-size: 14px;
    color: #999999
}

.form-textarea-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 3rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    padding-left: 15px;
    padding-right: 15px;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-textarea-control:focus {
    outline: 0;
    box-shadow: none
}

.form-textarea-control::placeholder {
    color: #999999;
}

.input-discount input {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px
}

.input-discount input:focus {
    outline: 0;
    box-shadow: none
}

.input-discount input::placeholder {
    color: #999999;
    text-align: left;
}

.input-discount button {
    background: transparent;
    border: 1px solid #eee;
    background: #fff;
    color: rgb(61, 61, 61);
    border-left: 0;
    padding-right: 15px
}

.input-discount button i,
.input-discount button span {
    font-size: 14px;
    color: #999999
}

.text-simple {
    color: #4e73df;
}

.status-selected {
    background: transparent;
    border: 1px solid #eee;
    background: #fff;
    color: #858796;
    font-size: 1rem;
    height: 1.6em;
    width: 6.2em;
}

.status-selected:focus {
    outline: 0;
    box-shadow: none;
}